<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Control TV</title>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
</head>
<body>
	<h1>try to control</h1>
	<h2><%= name %></h2>
	<div>
		<h3><a href="/file/<%= hash %>/start" class="start">Start</a></h3>
	</div>
	<div>
		<h3>
			<a href="/file/<%= hash %>/play" class="play">Play</a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="/file/<%= hash %>/pause" class="pause">Pause</a>
		</h3>
	</div>
	<div>
		<h3>
			<a href="/file/<%= hash %>/stop" class="stop">Stop</a>
		</h3>
	</div>
<script>
	$(function(){
		$("body").on("click", "a.play, a.start, a.pause, a.stop", function(event){
		//$('').click(function(){
			$.post( $(this).attr('href') ).done(function ( data ) {
				console.log('done');
			});
			event.preventDefault();
		});
	});
</script>
</body></html>
