<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>omxRemote</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="/ratchet2/css/ratchet.min.css" rel="stylesheet">
    <link href="/ratchet2/css/ratchet-theme-ios.min.css" rel="stylesheet">
    <style>
    .options-line{
      height:44px;
      margin-bottom:10px;
    }
    .option-line-container{
      width:32%;
      float:left;
      margin-right:1.5%;
    }
    .option-line-wider{
      width: 33%;
    }
    .option-line-last{
      margin-right: 0;
    }
    </style>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/touch-icons/apple-touch-icon-114x114.png">

    <script src="/ratchet2/js/ratchet.js"></script>
  </head>
  <body>

    <header class="bar bar-nav">
      <h1 class="title">omxremote</h1>
    </header>

    <div class="content">
     {{{body}}}
    </div>

  </body>
</html>