<div class="content-padded">
	<h4>File: <%= name %></h4>
</div>

    
<div>
	<a data-href="/file/<%= hash %>/start"  data-ignore="push" class="start button-positive button-block">Start</a>
</div>
<div class="options-line">
	<div class="option-line-container">
		<a data-href="/file/<%= hash %>/backward" class="move button-block" data-ignore="push" data-status="pause">&laquo; Back</a>	
	</div>
	<div class="option-line-container option-line-wider">
		<a data-href="/file/<%= hash %>/pause" class="pause button-block button-main" data-ignore="push" data-status="pause">Pause</a>
	</div>
	<div class="option-line-container option-line-last">
		<a data-href="/file/<%= hash %>/forward" class="move button-block" data-ignore="push" data-status="pause">Forward &raquo;</a>
	</div>
</div>
<div>
	<a data-href="/file/<%= hash %>/stop" class="stop button-negative button-block" data-ignore="push">Stop</a>
</div>
