<div class="content-padded">    
</div>

<ul class="table-view">
  {{#each files}}
  <li class="table-view-cell">
    <a class="navigate-right" href="/file/{{ this.hash }}">
      <strong>{{this.file}}</strong>
    </a>
  </li>
  {{/each}}
</ul>