<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>omxremote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
	<div id="app"></div>	
</div>

<script src="react.min.js"></script>
<script src="react.dom.min.js"></script>
<script src="all.js"></script>

<script>
	var demo = React.createElement(Videos);
	React.render(demo, document.getElementById('app'));
</script>

</body>
</html>